
.espacio {
	margin: 100px 250px;
	border: 2px solid $color_3;
	background: #d3d3d3;
}
.form-control {
	resize: none;
	border: none;
	outline: none;
	border-bottom: 1px solid $color_3;
}
.pad {
	padding-top: 50px;
}
.ceter {
	text-align: center;
	padding-bottom: 50px;
}
