$color_1: #abb8c3;
$color_2:#f8f9fa;
$background-color_1: #000000;
$font-family_1: 'Dancing Script', cursive;
$color_3: #000000;
$color_4:#f7f7f7;
$color_5:#9c9c9c;
$background-color_3: #ecc3b3;
$background-color_2: #f5efed;
